<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TableViewDemoController</key>
	<dict>
		<key>#cellLabel</key>
		<dict>
			<key>textColor</key>
			<string>#CCCCCC</string>
			<key>layer.cornerRadius</key>
			<integer>10</integer>
		</dict>
		<key>#cellBox</key>
		<dict>
			<key>backgroundColor</key>
			<string>#CCCCCC</string>
			<key>layer.cornerRadius</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>@UILabel</key>
	<dict>
		<key>textColor</key>
		<string>#756180</string>
		<key>font</key>
		<string>$&quot;SanFranciscoRounded-Medium&quot;:16</string>
	</dict>
	<key>@UINavigationBar</key>
	<dict>
		<key>barTintColor</key>
		<string>#693B80</string>
	</dict>
	<key>UINavigationController</key>
	<dict>
		<key>@UIView</key>
		<dict>
			<key>backgroundColor</key>
			<string>#000000</string>
		</dict>
		<key>@UILabel</key>
		<dict>
			<key>textColor</key>
			<string>#CCCCCC</string>
		</dict>
	</dict>
	<key>ListViewController</key>
	<dict>
		<key>@UILabel</key>
		<dict>
			<key>font</key>
			<string>$&quot;BradleyHandITCTT-Bold&quot;:14</string>
		</dict>
		<key>#demo1</key>
		<dict>
			<key>font</key>
			<string>$&quot;Chalkduster&quot;:20</string>
			<key>textColor</key>
			<string>#F4B942</string>
			<key>text</key>
			<string>Demo</string>
		</dict>
	</dict>
	<key>SimpleButtonDemoController</key>
	<dict>
		<key>@UILabel</key>
		<dict>
			<key>textColor</key>
			<string>#49B340</string>
			<key>font</key>
			<string>$&quot;SanFranciscoRounded-Medium&quot;:20</string>
			<key>text</key>
			<string>Label Text</string>
		</dict>
		<key>#theButton</key>
		<dict>
			<key>normalTitle</key>
			<string># theButton</string>
			<key>normalTitleColor</key>
			<string>#49B340</string>
			<key>layer.cornerRadius</key>
			<integer>10</integer>
			<key>backgroundColor</key>
			<string>#E0FF75</string>
		</dict>
	</dict>
</dict>
</plist>
