<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@UIView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#000000</string>
	</dict>
	<key>@UILabel</key>
	<dict>
		<key>textColor</key>
		<string>#FFFFFF</string>
		<key>font</key>
		<string>$&quot;HelveticaNeue&quot;:15</string>
	</dict>
	<key>@UINavigationBar</key>
	<dict>
		<key>barTintColor</key>
		<string>#510E80</string>
	</dict>
	<key>@UIButton</key>
	<dict>
		<key>normalTitleColor</key>
		<string>#C169FF</string>
		<key>layer.borderColor</key>
		<string>CG#C169FF</string>
		<key>layer.borderWidth</key>
		<integer>2</integer>
		<key>layer.cornerRadius</key>
		<integer>10</integer>
	</dict>
	<key>UINavigationController</key>
	<dict>
		<key>@UILabel</key>
		<dict>
			<key>textColor</key>
			<string>#FFFFFF</string>
		</dict>
	</dict>
	<key>TableViewDemoController</key>
	<dict>
		<key>#cellLabel</key>
		<dict>
			<key>textColor</key>
			<string>#AAAA00</string>
		</dict>
	</dict>
	<key>ListViewController</key>
	<dict>
		<key>@UILabel</key>
		<dict>
			<key>textColor</key>
			<string>#613480</string>
		</dict>
		<key>#demo1</key>
		<dict>
			<key>font</key>
			<string>$&quot;HelveticaNeue&quot;:24</string>
			<key>layer.cornerRadius</key>
			<integer>10</integer>
			<key>clipsToBounds</key>
			<string>true</string>
			<key>backgroundColor</key>
			<string>#CCBBDD</string>
			<key>textColor</key>
			<string>#00FFFF</string>
		</dict>
	</dict>
	<key>SimpleButtonDemoController</key>
	<dict>
		<key>#theButton</key>
		<dict>
			<key>normalTitle</key>
			<string>The Button Text</string>
		</dict>
	</dict>
	<key>StyleChangeDemoController</key>
	<dict>
		<key>@UIButton</key>
		<dict>
			<key>normalTitleColor</key>
			<string>#A0A0A0</string>
			<key>normalTitle</key>
			<string>Change Style</string>
		</dict>
	</dict>
	<key>CollectionViewDemoController</key>
	<dict>
		<key>@UICollectionView</key>
		<dict>
			<key>backgroundColor</key>
			<string>#D697FF</string>
		</dict>
		<key>@UIView</key>
		<dict>
			<key>backgroundColor</key>
			<string>#858BF2</string>
		</dict>
		<key>@UITextField</key>
		<dict>
			<key>backgroundColor</key>
			<string>#F2D64B</string>
		</dict>
	</dict>
</dict>
</plist>
