<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TableViewDemoController</key>
	<dict>
		<key>#cellLabel</key>
		<dict>
			<key>textColor</key>
			<string>#AAAA00</string>
		</dict>
	</dict>
	<key>@UILabel</key>
	<dict>
		<key>textColor</key>
		<string>#FFFF00</string>
	</dict>
	<key>UINavigationBar</key>
	<dict>
		<key>barTintColor</key>
		<string>#000000</string>
	</dict>
	<key>UINavigationController</key>
	<dict>
		<key>@UINavigationBar</key>
		<dict>
			<key>barTintColor</key>
			<string>#4059AD</string>
		</dict>
		<key>@UIView</key>
		<dict>
			<key>backgroundColor</key>
			<string>#000000</string>
		</dict>
		<key>@UILabel</key>
		<dict>
			<key>textColor</key>
			<string>#CCCCCC</string>
		</dict>
	</dict>
	<key>ListViewController</key>
	<dict>
		<key>@UILabel</key>
		<dict>
			<key>font</key>
			<string>$&quot;HelveticaNeue&quot;:30</string>
			<key>textColor</key>
			<string>#0000FF</string>
		</dict>
		<key>#demo1</key>
		<dict>
			<key>font</key>
			<string>$&quot;HelveticaNeue&quot;:20</string>
			<key>layer.cornerRadius</key>
			<integer>10</integer>
			<key>clipsToBounds</key>
			<string>true</string>
			<key>backgroundColor</key>
			<string>#CCBBDD</string>
			<key>textColor</key>
			<string>#00FFFF</string>
		</dict>
	</dict>
	<key>SimpleButtonDemoController</key>
	<dict>
		<key>#theButton</key>
		<dict>
			<key>normalTitle</key>
			<string>The Button Text</string>
			<key>normalTitleColor</key>
			<string>#000000</string>
			<key>layer.borderColor</key>
			<string>CG#A0A0A0</string>
			<key>layer.borderWidth</key>
			<integer>2</integer>
			<key>layer.cornerRadius</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>StyleChangeDemoController</key>
	<dict>
		<key>@UIButton</key>
		<dict>
			<key>normalTitleColor</key>
			<string>#A0A0A0</string>
			<key>normalTitle</key>
			<string>Change Style</string>
		</dict>
	</dict>
</dict>
</plist>
